:root {
  --catppuccin-color-rosewater: #f5e0dc;
  --catppuccin-color-rosewater-500: #f5e0dc;
  --catppuccin-color-rosewater-400: #f6e3e0;
  --catppuccin-color-rosewater-300: #f7e7e4;
  --catppuccin-color-rosewater-200: #f8eae7;
  --catppuccin-color-rosewater-100: #f9edeb;
  --catppuccin-color-rosewater-50: #faf0ee;
  --catppuccin-color-rosewater-600: #ead6d2;
  --catppuccin-color-rosewater-700: #d8c6c3;
  --catppuccin-color-rosewater-800: #c4b3b1;
  --catppuccin-color-rosewater-900: #ad9e9d;
  --catppuccin-color-rosewater-950: #918585;
  --catppuccin-color-flamingo: #f2cdcd;
  --catppuccin-color-flamingo-500: #f2cdcd;
  --catppuccin-color-flamingo-400: #f3d3d3;
  --catppuccin-color-flamingo-300: #f5d8d8;
  --catppuccin-color-flamingo-200: #f6dede;
  --catppuccin-color-flamingo-100: #f7e3e3;
  --catppuccin-color-flamingo-50: #f9e8e8;
  --catppuccin-color-flamingo-600: #e7c4c4;
  --catppuccin-color-flamingo-700: #d6b5b5;
  --catppuccin-color-flamingo-800: #c2a4a5;
  --catppuccin-color-flamingo-900: #ab9193;
  --catppuccin-color-flamingo-950: #8f797c;
  --catppuccin-color-pink: #f5c2e7;
  --catppuccin-color-pink-500: #f5c2e7;
  --catppuccin-color-pink-400: #f6c9ea;
  --catppuccin-color-pink-300: #f7d0ec;
  --catppuccin-color-pink-200: #f8d7ef;
  --catppuccin-color-pink-100: #f9ddf1;
  --catppuccin-color-pink-50: #fae3f3;
  --catppuccin-color-pink-600: #eab9dd;
  --catppuccin-color-pink-700: #d8abcc;
  --catppuccin-color-pink-800: #c49bba;
  --catppuccin-color-pink-900: #ad89a5;
  --catppuccin-color-pink-950: #91738b;
  --catppuccin-color-mauve: #cba6f7;
  --catppuccin-color-mauve-500: #cba6f7;
  --catppuccin-color-mauve-400: #d1b2f8;
  --catppuccin-color-mauve-300: #d7bcf9;
  --catppuccin-color-mauve-200: #dcc6f9;
  --catppuccin-color-mauve-100: #e2d0fa;
  --catppuccin-color-mauve-50: #e7d9fb;
  --catppuccin-color-mauve-600: #c29fec;
  --catppuccin-color-mauve-700: #b392da;
  --catppuccin-color-mauve-800: #a285c7;
  --catppuccin-color-mauve-900: #8f75b0;
  --catppuccin-color-mauve-950: #786394;
  --catppuccin-color-red: #f38ba8;
  --catppuccin-color-red-500: #f38ba8;
  --catppuccin-color-red-400: #f49cb3;
  --catppuccin-color-red-300: #f5abbe;
  --catppuccin-color-red-200: #f7b8c7;
  --catppuccin-color-red-100: #f8c4d1;
  --catppuccin-color-red-50: #f9d0d9;
  --catppuccin-color-red-600: #e885a1;
  --catppuccin-color-red-700: #d67b95;
  --catppuccin-color-red-800: #c36f88;
  --catppuccin-color-red-900: #ac6279;
  --catppuccin-color-red-950: #905367;
  --catppuccin-color-maroon: #eba0ac;
  --catppuccin-color-maroon-500: #eba0ac;
  --catppuccin-color-maroon-400: #edadb7;
  --catppuccin-color-maroon-300: #efb8c0;
  --catppuccin-color-maroon-200: #f1c3ca;
  --catppuccin-color-maroon-100: #f3cdd2;
  --catppuccin-color-maroon-50: #f5d6db;
  --catppuccin-color-maroon-600: #e099a5;
  --catppuccin-color-maroon-700: #cf8d98;
  --catppuccin-color-maroon-800: #bc808b;
  --catppuccin-color-maroon-900: #a6717c;
  --catppuccin-color-maroon-950: #8b5f6a;
  --catppuccin-color-peach: #fab387;
  --catppuccin-color-peach-500: #fab387;
  --catppuccin-color-peach-400: #fbbc99;
  --catppuccin-color-peach-300: #fbc5a8;
  --catppuccin-color-peach-200: #fcceb6;
  --catppuccin-color-peach-100: #fcd6c3;
  --catppuccin-color-peach-50: #fdddcf;
  --catppuccin-color-peach-600: #efab81;
  --catppuccin-color-peach-700: #dd9e78;
  --catppuccin-color-peach-800: #c88f6e;
  --catppuccin-color-peach-900: #b17e63;
  --catppuccin-color-peach-950: #946a55;
  --catppuccin-color-yellow: #f9e2af;
  --catppuccin-color-yellow-500: #f9e2af;
  --catppuccin-color-yellow-400: #fae5b9;
  --catppuccin-color-yellow-300: #fae8c3;
  --catppuccin-color-yellow-200: #fbebcb;
  --catppuccin-color-yellow-100: #fbeed4;
  --catppuccin-color-yellow-50: #fcf1dc;
  --catppuccin-color-yellow-600: #eed8a7;
  --catppuccin-color-yellow-700: #dcc79b;
  --catppuccin-color-yellow-800: #c7b58d;
  --catppuccin-color-yellow-900: #b0a07e;
  --catppuccin-color-yellow-950: #93866b;
  --catppuccin-color-green: #a6e3a1;
  --catppuccin-color-green-500: #a6e3a1;
  --catppuccin-color-green-400: #b2e6ae;
  --catppuccin-color-green-300: #bce9b9;
  --catppuccin-color-green-200: #c6ecc4;
  --catppuccin-color-green-100: #d0efcd;
  --catppuccin-color-green-50: #d9f2d7;
  --catppuccin-color-green-600: #9fd99a;
  --catppuccin-color-green-700: #92c88f;
  --catppuccin-color-green-800: #85b682;
  --catppuccin-color-green-900: #75a074;
  --catppuccin-color-green-950: #638663;
  --catppuccin-color-teal: #94e2d5;
  --catppuccin-color-teal-500: #94e2d5;
  --catppuccin-color-teal-400: #a3e5da;
  --catppuccin-color-teal-300: #b1e8de;
  --catppuccin-color-teal-200: #bdebe3;
  --catppuccin-color-teal-100: #c8eee7;
  --catppuccin-color-teal-50: #d3f1eb;
  --catppuccin-color-teal-600: #8dd8cc;
  --catppuccin-color-teal-700: #83c7bc;
  --catppuccin-color-teal-800: #77b5ac;
  --catppuccin-color-teal-900: #69a098;
  --catppuccin-color-teal-950: #588681;
  --catppuccin-color-sky: #89dceb;
  --catppuccin-color-sky-500: #89dceb;
  --catppuccin-color-sky-400: #9ae0ed;
  --catppuccin-color-sky-300: #aae4ef;
  --catppuccin-color-sky-200: #b7e7f1;
  --catppuccin-color-sky-100: #c4ebf3;
  --catppuccin-color-sky-50: #cfeef5;
  --catppuccin-color-sky-600: #83d2e1;
  --catppuccin-color-sky-700: #79c2d0;
  --catppuccin-color-sky-800: #6eb0bd;
  --catppuccin-color-sky-900: #619ba7;
  --catppuccin-color-sky-950: #52828d;
  --catppuccin-color-sapphire: #74c7ec;
  --catppuccin-color-sapphire-500: #74c7ec;
  --catppuccin-color-sapphire-400: #8bceee;
  --catppuccin-color-sapphire-300: #9ed4f0;
  --catppuccin-color-sapphire-200: #aedaf2;
  --catppuccin-color-sapphire-100: #bce0f4;
  --catppuccin-color-sapphire-50: #c9e5f6;
  --catppuccin-color-sapphire-600: #6fbee2;
  --catppuccin-color-sapphire-700: #66b0d1;
  --catppuccin-color-sapphire-800: #5d9fbe;
  --catppuccin-color-sapphire-900: #538ca8;
  --catppuccin-color-sapphire-950: #46768e;
  --catppuccin-color-blue: #89b4fa;
  --catppuccin-color-blue-500: #89b4fa;
  --catppuccin-color-blue-400: #9abdfb;
  --catppuccin-color-blue-300: #aac6fb;
  --catppuccin-color-blue-200: #b7cefc;
  --catppuccin-color-blue-100: #c4d6fc;
  --catppuccin-color-blue-50: #cfdefd;
  --catppuccin-color-blue-600: #83acef;
  --catppuccin-color-blue-700: #799fdd;
  --catppuccin-color-blue-800: #6e90c9;
  --catppuccin-color-blue-900: #617fb2;
  --catppuccin-color-blue-950: #526b96;
  --catppuccin-color-lavender: #b4befe;
  --catppuccin-color-lavender-500: #b4befe;
  --catppuccin-color-lavender-400: #bdc6fe;
  --catppuccin-color-lavender-300: #c6cdfe;
  --catppuccin-color-lavender-200: #ced4fe;
  --catppuccin-color-lavender-100: #d6dbfe;
  --catppuccin-color-lavender-50: #dee2ff;
  --catppuccin-color-lavender-600: #acb5f3;
  --catppuccin-color-lavender-700: #9fa8e1;
  --catppuccin-color-lavender-800: #9098cc;
  --catppuccin-color-lavender-900: #7f86b5;
  --catppuccin-color-lavender-950: #6b7099;
  --catppuccin-color-text: #cdd6f4;
  --catppuccin-color-subtext1: #bac2de;
  --catppuccin-color-subtext0: #a6adc8;
  --catppuccin-color-overlay2: #9399b2;
  --catppuccin-color-overlay1: #7f849c;
  --catppuccin-color-overlay0: #6c7086;
  --catppuccin-color-surface2: #585b70;
  --catppuccin-color-surface1: #45475a;
  --catppuccin-color-surface0: #313244;
  --catppuccin-color-base: #1e1e2e;
  --catppuccin-color-mantle: #181825;
  --catppuccin-color-crust: #11111b;
}

.dark {
  --catppuccin-color-rosewater: #f5e0dc;
  --catppuccin-color-rosewater-500: #f5e0dc;
  --catppuccin-color-rosewater-400: #f6e3e0;
  --catppuccin-color-rosewater-300: #f7e7e4;
  --catppuccin-color-rosewater-200: #f8eae7;
  --catppuccin-color-rosewater-100: #f9edeb;
  --catppuccin-color-rosewater-50: #faf0ee;
  --catppuccin-color-rosewater-600: #ead6d2;
  --catppuccin-color-rosewater-700: #d8c6c3;
  --catppuccin-color-rosewater-800: #c4b3b1;
  --catppuccin-color-rosewater-900: #ad9e9d;
  --catppuccin-color-rosewater-950: #918585;
  --catppuccin-color-flamingo: #f2cdcd;
  --catppuccin-color-flamingo-500: #f2cdcd;
  --catppuccin-color-flamingo-400: #f3d3d3;
  --catppuccin-color-flamingo-300: #f5d8d8;
  --catppuccin-color-flamingo-200: #f6dede;
  --catppuccin-color-flamingo-100: #f7e3e3;
  --catppuccin-color-flamingo-50: #f9e8e8;
  --catppuccin-color-flamingo-600: #e7c4c4;
  --catppuccin-color-flamingo-700: #d6b5b5;
  --catppuccin-color-flamingo-800: #c2a4a5;
  --catppuccin-color-flamingo-900: #ab9193;
  --catppuccin-color-flamingo-950: #8f797c;
  --catppuccin-color-pink: #f5c2e7;
  --catppuccin-color-pink-500: #f5c2e7;
  --catppuccin-color-pink-400: #f6c9ea;
  --catppuccin-color-pink-300: #f7d0ec;
  --catppuccin-color-pink-200: #f8d7ef;
  --catppuccin-color-pink-100: #f9ddf1;
  --catppuccin-color-pink-50: #fae3f3;
  --catppuccin-color-pink-600: #eab9dd;
  --catppuccin-color-pink-700: #d8abcc;
  --catppuccin-color-pink-800: #c49bba;
  --catppuccin-color-pink-900: #ad89a5;
  --catppuccin-color-pink-950: #91738b;
  --catppuccin-color-mauve: #cba6f7;
  --catppuccin-color-mauve-500: #cba6f7;
  --catppuccin-color-mauve-400: #d1b2f8;
  --catppuccin-color-mauve-300: #d7bcf9;
  --catppuccin-color-mauve-200: #dcc6f9;
  --catppuccin-color-mauve-100: #e2d0fa;
  --catppuccin-color-mauve-50: #e7d9fb;
  --catppuccin-color-mauve-600: #c29fec;
  --catppuccin-color-mauve-700: #b392da;
  --catppuccin-color-mauve-800: #a285c7;
  --catppuccin-color-mauve-900: #8f75b0;
  --catppuccin-color-mauve-950: #786394;
  --catppuccin-color-red: #f38ba8;
  --catppuccin-color-red-500: #f38ba8;
  --catppuccin-color-red-400: #f49cb3;
  --catppuccin-color-red-300: #f5abbe;
  --catppuccin-color-red-200: #f7b8c7;
  --catppuccin-color-red-100: #f8c4d1;
  --catppuccin-color-red-50: #f9d0d9;
  --catppuccin-color-red-600: #e885a1;
  --catppuccin-color-red-700: #d67b95;
  --catppuccin-color-red-800: #c36f88;
  --catppuccin-color-red-900: #ac6279;
  --catppuccin-color-red-950: #905367;
  --catppuccin-color-maroon: #eba0ac;
  --catppuccin-color-maroon-500: #eba0ac;
  --catppuccin-color-maroon-400: #edadb7;
  --catppuccin-color-maroon-300: #efb8c0;
  --catppuccin-color-maroon-200: #f1c3ca;
  --catppuccin-color-maroon-100: #f3cdd2;
  --catppuccin-color-maroon-50: #f5d6db;
  --catppuccin-color-maroon-600: #e099a5;
  --catppuccin-color-maroon-700: #cf8d98;
  --catppuccin-color-maroon-800: #bc808b;
  --catppuccin-color-maroon-900: #a6717c;
  --catppuccin-color-maroon-950: #8b5f6a;
  --catppuccin-color-peach: #fab387;
  --catppuccin-color-peach-500: #fab387;
  --catppuccin-color-peach-400: #fbbc99;
  --catppuccin-color-peach-300: #fbc5a8;
  --catppuccin-color-peach-200: #fcceb6;
  --catppuccin-color-peach-100: #fcd6c3;
  --catppuccin-color-peach-50: #fdddcf;
  --catppuccin-color-peach-600: #efab81;
  --catppuccin-color-peach-700: #dd9e78;
  --catppuccin-color-peach-800: #c88f6e;
  --catppuccin-color-peach-900: #b17e63;
  --catppuccin-color-peach-950: #946a55;
  --catppuccin-color-yellow: #f9e2af;
  --catppuccin-color-yellow-500: #f9e2af;
  --catppuccin-color-yellow-400: #fae5b9;
  --catppuccin-color-yellow-300: #fae8c3;
  --catppuccin-color-yellow-200: #fbebcb;
  --catppuccin-color-yellow-100: #fbeed4;
  --catppuccin-color-yellow-50: #fcf1dc;
  --catppuccin-color-yellow-600: #eed8a7;
  --catppuccin-color-yellow-700: #dcc79b;
  --catppuccin-color-yellow-800: #c7b58d;
  --catppuccin-color-yellow-900: #b0a07e;
  --catppuccin-color-yellow-950: #93866b;
  --catppuccin-color-green: #a6e3a1;
  --catppuccin-color-green-500: #a6e3a1;
  --catppuccin-color-green-400: #b2e6ae;
  --catppuccin-color-green-300: #bce9b9;
  --catppuccin-color-green-200: #c6ecc4;
  --catppuccin-color-green-100: #d0efcd;
  --catppuccin-color-green-50: #d9f2d7;
  --catppuccin-color-green-600: #9fd99a;
  --catppuccin-color-green-700: #92c88f;
  --catppuccin-color-green-800: #85b682;
  --catppuccin-color-green-900: #75a074;
  --catppuccin-color-green-950: #638663;
  --catppuccin-color-teal: #94e2d5;
  --catppuccin-color-teal-500: #94e2d5;
  --catppuccin-color-teal-400: #a3e5da;
  --catppuccin-color-teal-300: #b1e8de;
  --catppuccin-color-teal-200: #bdebe3;
  --catppuccin-color-teal-100: #c8eee7;
  --catppuccin-color-teal-50: #d3f1eb;
  --catppuccin-color-teal-600: #8dd8cc;
  --catppuccin-color-teal-700: #83c7bc;
  --catppuccin-color-teal-800: #77b5ac;
  --catppuccin-color-teal-900: #69a098;
  --catppuccin-color-teal-950: #588681;
  --catppuccin-color-sky: #89dceb;
  --catppuccin-color-sky-500: #89dceb;
  --catppuccin-color-sky-400: #9ae0ed;
  --catppuccin-color-sky-300: #aae4ef;
  --catppuccin-color-sky-200: #b7e7f1;
  --catppuccin-color-sky-100: #c4ebf3;
  --catppuccin-color-sky-50: #cfeef5;
  --catppuccin-color-sky-600: #83d2e1;
  --catppuccin-color-sky-700: #79c2d0;
  --catppuccin-color-sky-800: #6eb0bd;
  --catppuccin-color-sky-900: #619ba7;
  --catppuccin-color-sky-950: #52828d;
  --catppuccin-color-sapphire: #74c7ec;
  --catppuccin-color-sapphire-500: #74c7ec;
  --catppuccin-color-sapphire-400: #8bceee;
  --catppuccin-color-sapphire-300: #9ed4f0;
  --catppuccin-color-sapphire-200: #aedaf2;
  --catppuccin-color-sapphire-100: #bce0f4;
  --catppuccin-color-sapphire-50: #c9e5f6;
  --catppuccin-color-sapphire-600: #6fbee2;
  --catppuccin-color-sapphire-700: #66b0d1;
  --catppuccin-color-sapphire-800: #5d9fbe;
  --catppuccin-color-sapphire-900: #538ca8;
  --catppuccin-color-sapphire-950: #46768e;
  --catppuccin-color-blue: #89b4fa;
  --catppuccin-color-blue-500: #89b4fa;
  --catppuccin-color-blue-400: #9abdfb;
  --catppuccin-color-blue-300: #aac6fb;
  --catppuccin-color-blue-200: #b7cefc;
  --catppuccin-color-blue-100: #c4d6fc;
  --catppuccin-color-blue-50: #cfdefd;
  --catppuccin-color-blue-600: #83acef;
  --catppuccin-color-blue-700: #799fdd;
  --catppuccin-color-blue-800: #6e90c9;
  --catppuccin-color-blue-900: #617fb2;
  --catppuccin-color-blue-950: #526b96;
  --catppuccin-color-lavender: #b4befe;
  --catppuccin-color-lavender-500: #b4befe;
  --catppuccin-color-lavender-400: #bdc6fe;
  --catppuccin-color-lavender-300: #c6cdfe;
  --catppuccin-color-lavender-200: #ced4fe;
  --catppuccin-color-lavender-100: #d6dbfe;
  --catppuccin-color-lavender-50: #dee2ff;
  --catppuccin-color-lavender-600: #acb5f3;
  --catppuccin-color-lavender-700: #9fa8e1;
  --catppuccin-color-lavender-800: #9098cc;
  --catppuccin-color-lavender-900: #7f86b5;
  --catppuccin-color-lavender-950: #6b7099;
  --catppuccin-color-text: #cdd6f4;
  --catppuccin-color-subtext1: #bac2de;
  --catppuccin-color-subtext0: #a6adc8;
  --catppuccin-color-overlay2: #9399b2;
  --catppuccin-color-overlay1: #7f849c;
  --catppuccin-color-overlay0: #6c7086;
  --catppuccin-color-surface2: #585b70;
  --catppuccin-color-surface1: #45475a;
  --catppuccin-color-surface0: #313244;
  --catppuccin-color-base: #1e1e2e;
  --catppuccin-color-mantle: #181825;
  --catppuccin-color-crust: #11111b;
}
